{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "env": {
    "node": true,
    "jest":  true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "indent": ["error", 2],
    "no-await-in-loop": 0
  }
}
